---
// src/layouts/TelegramLayout.astro
---

<section class="flex flex-col gap-8">
  <header class="mb-4">
    <h1 class="text-3xl font-bold flex items-center gap-3">
      <i class="ri-quill-pen-line text-primary"></i>
      <span>即刻短文</span>
    </h1>
    <p class="text-base-content/70 mt-2">
     钟神秀的资源分享和日常记录等等。
    </p>
  </header>

  <div id="dynamic-feed-container" class="flex flex-col gap-4">
    <slot />
  </div>
</section>
